* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
background-color: blanchedalmond;
;

}
header{

max-width: 100%;
max-height: 300px;
display: flex;
align-items: center;
justify-content: center;

}

img{
height: 30em;
padding-right: 1000px;




}
 a{
color: brown;
font-size: 35px;
text-decoration: none;
padding-right: 50px;

}
.sidebar{
position: fixed;
top: 0;
display: flex;
flex-direction: column;


}
.sidebar button{
height: 60px;
background: transparent;
border: 0;
font-size: 25px;
color: brown;
cursor: pointer;
text-align: left;
padding: 0;

}

.siderbar button > span {
display: inline-flex;
padding: 0 16px 0 12px;
height: 52px;
align-items: center;

}
